.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.top {
    width:100%;
    background-color: #1F2937;
    color: white;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: -14px;
}

.top .awesome {
    font-size: 48px;
    font-weight: 900;
}
.top p {
    font-size: 18px;
    color: #E5E7EB;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    
}
.titleImg {
    display: flex;
    justify-content: baseline;
    align-items: stretch;
    gap: 50px;
    flex: 1;
    margin-top: 150px;
    width: 1100px;
    margin-bottom: 100px;
}
.links a {
    margin-left: 15px;
    font-size: 18px;
}

.leftSide {
    width: 450px;
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.rightSide {
    width: 450px;
    background-color: aliceblue;
    flex: 1;
    
    
}

.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3882F6;
  height: 25px;
  width: 100px;
  border-radius: 5px;
}

.randomInfoContainer{
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.roundBoxContainer {
    width: 1100px;
    display: flex;
    justify-content: space-evenly;
}
.title {
    padding: 30px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.box {
    width:200px;
    height:200px;
    border: solid #3882F6;
    border-radius: 25px;
}

.text {
    width: 100px;
}

.roundBox {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: large;
    gap: 5px;
}

.quoteContainer {
    padding:100px;
    width: 100%;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;

}

.quote {
    width: 950px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.saying {
    font-size: 36px;
}
.author {
    font-size: 24px;
    font-weight: 600;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.callContainer {
    background-color: #3882F6;
    height: 120px;
    width: 700px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #E5E7EB;
    
}

.one {
    font-size: 24px;
    font-weight: 600;
}

.two {
    font-size: 12px;
    margin-top: -19px;
    font-weight: 100;
}
.callContainer .signUp {
    border: solid white;
}

.Calltext {
    height: 100px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    padding: 25px;
    background-color: #1F2937;
    color: white;
    flex: 1;
    
}